@import "tailwindcss";

:root {
  --background: #ffffff;
  
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.brand-wrap {
  width: 320px;
  height: 80px;
  clip-path: polygon(
    0 0,
    85% 0,
    100% 100%,
    0 100%
  );
  display: flex;
  align-items: center;
  padding-left: 40px;
}

